<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf8" />
		<script src="angular.js"></script>
		<script>
			angular.module("invoice1", [])
			.controller("InvoiceController", function () {
				this.qty = 1;
				this.const = 2;
				this.inCurr = 'EUR';
				this.currencies = ['USD', 'EUR', 'CNY'];
				this.usdToForeignRates  = {
					USD: 1,
					EUR: 0.74,
					CNY: 6.09
				};

				this.total = function total(outCurr) {
					return this.convertCurrency(this.qty * this.const, this.inCurr, outCurr);
				};
				this.convertCurrency = function convertCurrency(amount, inCurr, outCurr) {
					return amount * this.usdToForeignRates[outCurr] / this.usdToForeignRates[inCurr];
				};
				this.play = function play() {
					window.alert("Obrigado.")
				}
			});
		</script>
	</head>
	<body>
		<div ng-app="invoice1" ng-controller="InvoiceController as invoice">
			<b>Invoice:</b>
			<div>
				Quantity: <input type="number" min="0" ng-model="invoice.qty" required />
			</div>
			<div>
				Const: <input type="number" min="0" ng-model="invoice.const" required />
				<select ng-model="invoice.inCurr">
					<option ng-repeat="c in invoice.currencies">{{c}}</option>
				</select>
			</div>
			<div>
				<b>Total: </b>
				<span ng-repeat="c in invoice.currencies">
					{{invoice.total(c) | currency:c}}
				</span>
				<button class="btn" ng-click="invoice.play()">Play</button>
			</div>
		</div>
	</body>
</html>